@model Forum.Web.ViewModels.ChangePasswordVm
@{
    ViewData["Title"] = "ChangePassword";
}

<h3>Change password</h3>

<form asp-controller="Profile" asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label asp-for="Password">Current password</label>
        <input asp-for="Password" class="form-control" value="" />
        <span asp-validation-for="Password"></span><br />

        <label asp-for="NewPassword">New password</label>
        <input asp-for="NewPassword" class="form-control" value="" />
        <span asp-validation-for="NewPassword"></span><br />

        <label asp-for="RepeatNewPassword">Repeat new password</label>
        <input asp-for="RepeatNewPassword" class="form-control" value="" />
        <span asp-validation-for="RepeatNewPassword"></span>
    </div>
    <button type="submit" class="btn btn-secondary">Edit</button>
    <button type="button" class="btn btn-secondary" onclick="window.location='@Url.Action("Index", "Profile")'">Cancel</button>
</form>

