@model Forum.Web.ViewModels.ProfileIndexVm
@{
    ViewData["Title"] = "Index";
}

<h2>@Model.Username</h2>

<div class="d-flex ">

    <a asp-action="ChangeUsername" class="btn btn-secondary">Change username</a><br />


</div>

