@model Forum.Web.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<form asp-controller="Login" asp-action="Login" method="post" class="col-md-4 mb-3">

    <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control"/>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <input type="submit" value="Log in" class="btn btn-secondary"/>
</form>

<a asp-controller="Login" asp-action="Register">Don't have an account yet? Click here to create one! </a>