
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register</h1>

<form asp-controller="Login" asp-action="Register" method="post">

    <div>
        <label asp-for="Username"></label>
    </div>
</form>

