
@{
    ViewData["Title"] = "Terms of service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Our terms of service</h1>

<p>Be nice! :)</p>

<a asp-controller="Login" asp-action="Register">Click here to go back to the registration page. </a>

