@model Forum.Web.ViewModels.CategoriesIndexVm
@{
    ViewData["Title"] = "Index";
}

<h1>@Model.Theme.Title</h1>

<ul class="list-group">
    @foreach (var cat in Model.CategoriesBytheme)
    {
        <li class="list-group-item"><a href="@Model.Theme.Title/@cat.Title">@cat.Title</a></li>
    }
</ul>