@model Forum.Web.ViewModels.CategoriesIndexVm
@{
    ViewData["Title"] = "Index";
}

<h2>@Model.Theme.Title</h2>
<p>@Model.Theme.Description</p>

<ul class="list-group">
    @foreach (var cat in Model.CategoriesBytheme)
    {
        <li class="list-group-item"><a href="@Model.Theme.Title/@cat.Title">@cat.Title</a></li>
    }
</ul>