@model Forum.Web.ViewModels.CategoriesIndexVm
@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<ul>
    @foreach (var cat in Model.CategoriesBytheme)
    {
        <li>@cat.Title</li>
    }
</ul>