@model Forum.Web.ViewModels.CategoriesIndexVm
@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<ul>
    @foreach (var cat in Model.CategoriesBytheme)
    {
        <li><a href="@cat.Theme.Title/@cat.Title">@cat.Title</a></li>
    }
</ul>