@model Forum.Web.ViewModels.HomeIndexVm
@{
    ViewData["Title"] = "Home";
}

<h2>Themes</h2>

<ul class="list-group">
    @foreach (var theme in Model.Themes)
    {
        <li>
            <a asp-controller="Categories" asp-action="Index" asp-route-theme="@theme.Title" class="list-group-item list-group-item-action">
                <h5>@theme.Title</h5>
            </a>
        </li>
    }
</ul>