@model Forum.Web.ViewModels.HomeIndexVm
@{
    ViewData["Title"] = "Home";
}

<h2>Themes</h2>

<ul class="list-group">
    @foreach (var theme in Model.Themes)
    {
        <li class="list-group-item"><a href="@theme.Title">@theme.Title</a></li>
    }
</ul>