@model Forum.Web.ViewModels.PostsIndexVm
@{
    ViewData["Title"] = "Index";
}

<h2>@Model.Category.Title</h2>

<ul class="list-group">
    @foreach (var post in Model.PostsByCategory)
    {
        <li class="list-group-item"><a href="/@Model.Theme.Title/@Model.Category.Title/@post.Id">@post.Title</a></li>
    }
</ul>

