@model Forum.Web.ViewModels.PostsIndexVm
@{
    ViewData["Title"] = "Index";
}

<h2>@Model.Category.Title</h2>

<ul>
    @foreach (var post in Model.PostsByCategory)
    {
        <li><a href="/@Model.Theme.Title/@Model.Category.Title/@post.Id">@post.Title</a></li>
    }
</ul>

